[*.cs]

# IDE0069: Disposable fields should be disposed
dotnet_diagnostic.IDE0069.severity = warning

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = warning
